<?xml version="1.0"?>

<configuration>
	<connectionStrings>
		<add name="ConString" connectionString="Data Source=DESKTOP-C3I7U4G\MATOSHREE;Initial Catalog=IFK_DEMOADATABASE;USER ID=sa;password=pass123;Integrated Security=true"/>
	</connectionStrings>
	<appSettings>
		<add key="aspnet:MaxHttpCollectionKeys" value="10000000"/>
		<add key="ConnectionString" value="server=DESKTOP-C3I7U4G\MATOSHREE;database=IFK_DEMOADATABASE;USER ID=sa;password=pass123"/>
		<add key="SessionTimeOutURL" value="http://localhost"/>
	</appSettings>
	<system.web>
		<authentication mode="Forms"/>
		<pages validateRequest="false" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		<compilation targetFramework="4.6.1" debug="true"/>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="EmployeeDetails.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>